<!-- views/partials/footer.ejs -->

    <footer class="container-fluid" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <h4>LIIFYE.CO.UK</h4>
                    <p>Birmingham</p>
                    <p>West Midlands</p>
                    <p>B64 3LS</p>
                    <p>Tel - 01872 666-666</p>
                    <p>Email-liifye@liifye.co.uk</p>
                </div>
                <div class="col-xs-12 col-md-4">
                    <h4>Additional Info.</h4>
                    <p><a href="">Guarantee and Warranty</a></p>
                    <p><a href="">FAQ</a></p>
                    <p><a href="">Privacy Policy</a></p>
                    <p><a href="">Shipping</a></p>
                </div>
                <div class="col-xs-12 col-md-4">
                    <h4>Newsletter</h4>
                    <p>Subscribe to get special offers and discounts.</p>
                    <form>
                        <input type="email" name="email" placeholder="Email address">
                        <button class="btn btn-primary-transparent" type="submit">Submit</button>
                    </form>
                </div>
            </div>
            <div class="row">
                <ul>
                    <li><a href=""><i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i></a></li>
                    <li><a href=""><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></a></li>
                    <li><a href=""><i class="fa fa-pinterest fa-3x" aria-hidden="true"></i></a></li>
                </ul>
            </div>
            <div class="row">
                <ul>
                    <li><a href="">© LIIFYE UK 2017</a></li>
                    <li><a href="">Created by TBP</a></li>
                    <li><a href="">Canvas Theme</a></li>
                </ul>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="/js/liifye.js"></script>
</body>

</html>